@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500;700&display=swap');
$headline-font: 'Poppins', sans-serif;
$bread-font: 'Roboto', sans-serif;

$color-main: #90949b;
$color-headline: #252525;
$color-pink: #f23779;
$color-orange: #ff6803;





