@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
$headline-font: 'Poppins', sans-serif;
$bread-font: 'Roboto', sans-serif;

$color-main: #57647c;
$color-headline: #252525;
$color-pink: #f23779;
$color-orange: #ff6803;


$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoint-md-max-width: 720px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl-max-width: 1170px;
$breakpoint-xxl-max-width: 1320px;



